<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/home">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <!-- End Dashboard Nav -->
  
      <!-- <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="">
          <i class="bi bi-menu-button-wide"></i><span>Services</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="/add_admin_services_page">
              <i class="bi bi-circle"></i><span>Add Services</span>
            </a>
          </li>
          <li>
            <a href="/reservice">
              <i class="bi bi-circle"></i><span>View Services</span>
            </a>
          </li>
  
  
  
  
        </ul>
      </li> -->
      <!-- End Components Nav -->
  
      <li class="nav-item">
        <a
          class="nav-link collapsed"
          data-bs-target="#tables-nav"
          data-bs-toggle="collapse"
          href="#"
        >
          <i class="bi bi-layout-text-window-reverse"></i><span>User Manager</span
          ><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul
          id="tables-nav"
          class="nav-content collapse"
          data-bs-parent="#sidebar-nav"
        >
          <li>
            <a href="/register_user">
              <i class="bi bi-circle"></i><span>Add User</span>
            </a>
          </li>
          <li>
            <a href="/userview">
              <i class="bi bi-circle"></i><span>View User</span>
            </a>
          </li>
        </ul>
      </li>
  
      <li class="nav-item">
        <a
          class="nav-link collapsed"
          data-bs-target="#tables-otp"
          data-bs-toggle="collapse"
          href="#"
        >
          <i class="bi bi-layout-text-window-reverse"></i><span>Mail Manager</span
          ><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul
          id="tables-otp"
          class="nav-content collapse"
          data-bs-parent="#sidebar-nav"
        >
          <li>
            <a href="/otp_genrate">
              <i class="bi bi-circle"></i><span>verify user</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a
          class="nav-link collapsed"
          data-bs-target="#tables-1"
          data-bs-toggle="collapse"
          href="#"
        >
          <i class="bi bi-layout-text-window-reverse"></i><span>Transaction History</span
          ><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul
          id="tables-1"
          class="nav-content collapse"
          data-bs-parent="#sidebar-nav"
        >
          <li>
            <a href="/show_t">
              <i class="bi bi-circle"></i><span>Show Transactions</span>
            </a>
          </li>
        </ul>
      </li>
  
      <li class="nav-item">
        <a
          class="nav-link collapsed"
          data-bs-target="#tables-nav-1"
          data-bs-toggle="collapse"
          href="#"
        >
          <i class="bi bi-layout-text-window-reverse"></i><span>Shop</span
          ><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul
          id="tables-nav-1"
          class="nav-content collapse"
          data-bs-parent="#sidebar-nav"
        >
          <li>
            <a href="/product_admin">
              <i class="bi bi-circle"></i><span>Show products</span>
            </a>
          </li>
  
          <li>
            <a href="/addproduct">
              <i class="bi bi-circle"></i><span>Add products</span>
            </a>
          </li>
  
        </ul>
      </li>
  
      <li class="nav-heading">Settings</li>
  
      <li class="nav-item">
        <a class="nav-link collapsed" href="/adminprofile">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li>
      <!-- End Profile Page Nav -->
  
      <!-- <li class="nav-item">
        <a class="nav-link collapsed" href="pages-faq.html">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li> -->
      <!-- End F.A.Q Page Nav -->
  
      <!-- <li class="nav-item">
        <a class="nav-link collapsed" href="/contact_us">
          <i class="bi bi-file-earmark"></i>
          <span>Contact Us</span>
        </a>
      </li> -->
      <!-- End contact us Page Nav -->
    </ul>
  </aside>
  <!-- End Sidebar-->
  